* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #02f802;
    font-family: sans-serif;
}

header, li a {
    color: #02f802;
    background-color: #000000;
}

header .barra1 {
    font-weight: bold;
    padding-left: 20px;
}

header .barra2 {
    height: 135px;
}

.logo {
    width: 160px;
    height: 160px;
    animation: logoimg 26s infinite;
}

@keyframes logoimg {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
    }

}

header ul {
    list-style: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #00fdfd62;
    border-radius: 20px;
    font-weight: bold;
    color: #00e1ff
}

main {
    padding: 100px 0 0 50px;
}

h1 {
    padding: 20px;
    align-items: center;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

main .card {
    width: 260px;
    height: 500px;
    border-radius: 16px;
    color: #000;
    background-color: #000;
    border: 3px solid #00fdfd;
}

.bgperson {
    width: 254px;
    height: 200px;
    border-radius: 13px 13px 0px 0px;
    position: absolute;
}

.img-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    margin: 150px;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-top: 50px;
}

.sobre a {
    color: #fff;
    background-color: rgb(60, 252, 2);
    padding: 10px;
    margin: 10px;
}

.nome {
    color: #fff;
}

.text-person {
    color: #fff;
}

.sobre a:visited {
    color: #fff;
    text-decoration-style: none;
}

#form-personagem {
    display: flex;
    justify-content: center;
}

h2 {
    padding: 20px;
}

h3 {
    font-weight: lighter;
    padding-bottom: 20px;
}

.box {
    background-color: #000;
    margin: 50px 0 50px 0;
    width: 800px;
    height: 720px;
    border-radius: 15px;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

form {
    font-size: 15px;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topico {
    display: block;
    width: 400px;
    align-items: center;
    padding: 15px;
}

.descricao {
    width: 300px;
    height: 300px;
}


input, select, textarea {
    background-color: #ceeff0;
    border: solid 1px #00e1ff;
    border-radius: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.item {
    display: block;
    width: 280px;
    height: 120px;
    text-align: start;
    padding-left: 40px;
}

.item input {
    width: 20%;
    text-align: initial;
}

.item label {
    width: 80%;
    text-align: initial;
}

.tema {
    font-weight: bold;
}

.item01{
    border-bottom: solid 1px #02f802;
    padding-bottom: 20px;
}

.item02 {
    padding-top: 20px;
}

input:hover {
    background-color: #1eff00;
}

footer {
    border-top: solid 2px #000;
    background-color: #00fdfd;
    height: 30px;
}

#adcfoto {
    width: 280px;
}